<h2>Welcome!</h2>
<p>I'm Mottel and this is my site.</p>
<p>I write things. This incarnation of my site is focused mainly on essay writing. You can read the <a href="/essays/0">first essay</a> which gives an overview of that project. You could also check out a <a href="/poems/1">poem</a> that I've written. Or you could <a href="https://mottelz.herokuapp.com/">leave</a>. It's a big internet and my thoughts are not the most interesting or titillating things on it.</p>