<!DOCTYPE html>
<html>
  <head>
    <title>Mottelz - {{webtitle}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <p class='date'>This site is currently under construction, but I didn't want to use that as an excuse to not start this project.</p>
  <p class="date"><a href="/0">Essay 0</a> | <a href="/1">Essay 1</a> | <a href="/2">Essay 2</a></p>
    {{{body}}}
  </body>
</html>
